<!-- Hero Slider End -->
{% block content %}
<!-- Features Section Begin -->
<section class="features-section spad">
    <div class="features-ads">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-features-ads first">
                        <img src="static/media/icons/f-delivery.png" alt="">
                        <h4>Free shipping</h4>
                        <p>Free shipping in 3 km range about palangad..................jhsdf ghjsdgh sdjgvfvsefgbmsdgj sdggjsdmfgghsdfgmjgh gmsdfgs. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads second">
                        <img src="static/media/icons/coin.png" alt="">
                        <h4>100% Return fecility </h4>
                        <p>return fecility, if any product is out of dated it will return by us......hfdjhnggdsfcfdfgn ghrfhgfg </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <img src="static/media/icons/chat.png" alt="">
                        <h4>Online support 24/7</h4>
                        <p>we support 24*7 online support s ertu sertudr rdu dfgj dfjgdf gjdfgj fgj dj dfgj dfgj d. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


          <div class="header"><h1>jsfjghjhd bmgbxdhjhg dm,bgdjfgb jmdbyjgb jm fmnbgj sbjgdjf gjmsdmg jdbfgj djfgbjm </h1>.</div>
          <div class="info">
          </div>

      {% endblock %}
