
{% extends 'index.html' %}
{% block content %}


    <!-- Features Box -->
    <div class="features-box">
        <div class="container">

                <!-- </div> -->



                <!-- <div class="col-lg-6"> -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-box-item first-box">
                              <a href="vegfruit" class="primary-btn">
                                <img src="static/media/category/fruit_and_vegetables.jpg" alt="">

                                  <div class="box-text" style="right: 0px;left: 45px;">

                                    <h2  style="color:white;">Vegitables & Fruits</h2>
                                    <span class="trend-alert">Freshness is guarantee</span>

                              </div>
                              </a>
                            </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="single-box-item second-box">
                                <a href="footwear" class="primary-btn">
                                  <img src="static/media/category/dresses.jpg" alt="">
                                  <div class="box-text"  style="right: 0px;left: 45px;">
                                      <span class="trend-year">2020 Trending</span>
                                      <h2 style="color:white;">Dresses</h2>
                                      <span class="trend-alert">New treands</span><br>

                                  </div>
                                  </a>
                              </div>
                          </div>
                        </div>

                        <div class="row">


                            <div class="col-lg-6">
                                <!-- <div class="row"> -->
                                    <!-- <div class="col-lg-12"> -->
                                        <div class="single-box-item first-box">
                                          <a href="stationary" class="primary-btn">
                                            <img src="static/media/category/stationary-product.jpg" alt="">

                                            <div class="box-text"  style="right: 0px;left: 45px;">
                                                <span class="trend-year">2020 Items</span>
                                                <h2 style="color:white;">STATIONARY</h2>
                                                <span class="trend-alert">Fast moving</span>
                                            </div>
                                            </a>
                                        </div>
                                      </div>
                                    <!-- </div/> -->
                                    <div class="col-lg-6">
                                        <div class="single-box-item second-box">
                                          <a href="footwear" class="primary-btn">
                                            <img src="static/media/category/footwear-product.jpg" alt="">

                                            <div class="box-text"  style="right: 0px;left: 45px;">
                                                <span class="trend-year">2020 Trend</span>
                                                <h2 style="color:white;">Footwear</h2>
                                                <span class="trend-alert">New treands</span><br>

                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                
                      </div>
                    </div>
                  <!-- </div>
                </div> -->
    <!-- Features Section End -->

    <!-- Latest Product Begin -->
    <!-- <section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Latest Products</h2>
                    </div>
                    <ul class="product-controls">
                        <li data-filter="*">All</li>
                        <li data-filter=".dresses">Dresses</li>
                        <li data-filter=".bags">Bags</li>
                        <li data-filter=".shoes">Shoes</li>
                        <li data-filter=".accesories">Accesories</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="product-list">
            <div class="col-lg-3 col-sm-6 mix all dresses bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-1.jpg" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>Green Dress with details</h6>
                        <p>$22.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all dresses bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-2.jpg" alt=""></a>
                        <div class="p-status sale">sale</div>
                    </figure>
                    <div class="product-text">
                        <h6>Yellow Maxi Dress</h6>
                        <p>$25.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-3.jpg" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>One piece bodysuit</h6>
                        <p>$19.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-4.jpg" alt=""></a>
                        <div class="p-status popular">popular</div>
                    </figure>
                    <div class="product-text">
                        <h6>Blue Dress with details</h6>
                        <p>$35.50</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all dresses shoes">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-5.jpg" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>Green Dress with details</h6>
                        <p>$22.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all accesories bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-6.jpg" alt=""></a>
                        <div class="p-status sale">sale</div>
                    </figure>
                    <div class="product-text">
                        <h6>Yellow Maxi Dress</h6>
                        <p>$25.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all dresses bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-7.jpg" alt=""></a>
                    </figure>
                    <div class="product-text">
                        <h6>One piece bodysuit</h6>
                        <p>$19.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all accesories bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="static/media/products/img-8.jpg" alt=""></a>
                        <div class="p-status popular">popular</div>
                    </figure>
                    <div class="product-text">
                        <h6>Blue Dress with details</h6>
                        <p>$35.50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section> -->
    <!-- Latest Product End -->

    <!-- Lookbok Section Begin -->
    <!-- <section class="lookbok-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="lookbok-left">
                    <div class="section-title">
                        <h2>2019 <br />#lookbook</h2>
                    </div>
                    <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vestibulum malesuada
                        aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo
                        lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo
                        viverra scelerisque. Phasellus facilisis lobortis metus, sit amet viverra lectus finibus ac.
                        Aenean non felis dapibus, placerat libero auctor, ornare ante. Morbi quis ex eleifend,
                        sodales nulla vitae, scelerisque ante. Nunc id vulputate dui. Suspendisse consectetur rutrum
                        metus nec scelerisque. s</p>
                    <a href="#" class="primary-btn look-btn">See More</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="lookbok-pic">
                    <img src="static/media/lookbok.jpg" alt="">
                    <div class="pic-text">fashion</div>
                </div>
            </div>
        </div>
    </div>
    </section> -->
    <!-- Lookbok Section End -->
{% endblock %}
