{% extends 'index.html' %}
{% block content %}

<div class="features-box">
  <div class="container">

    <div class="row">
      {% for category in categories %}
      <div class="col-lg-6">
        <div class="single-box-item first-box">

          <a href="{{category.link}}" class="primary-btn">
            <img src="{{category.img_url}}" alt="">

            <div class="box-text" style="right: 0px;left: 45px;">
              <span class="trend-year">{{category.description1}}</span>
              <h2 style="color:white;">{{category.name}}</h2>
              <span class="trend-alert">{{category.description}}</span>
            </div>
          </a>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>







{% endblock %}